@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Jacques Francois Shadow", san-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", san-serif;
  margin: 0;
  padding: 0;
}

.color{
  background-color: #ADFF2F;
}

@media (max-height: 600px) and (orientation: landscape) {
  .mobile-full-height {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .content-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* Add to your global CSS or component-specific styles */
.testimonial-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}

.testimonial-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.testimonial-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.testimonial-transition-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}